<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <table>
    <thead>
      <th>Dept No</th>
      <th>Dept Name</th>
    </thead>
    <tbody>
      <tr *ngFor="let i of data.dept">
        <td>{{ i.dept_no }}</td>
        <td>{{ i.dept_name }}</td>
      </tr>
    </tbody>
  </table>

  <div class="w">
    <select *ngFor="let i of data.dept"  [(ngModel)]="dept_no">
      <option [value]="i.dept_no">{{ i.dept_name }}</option>
    </select>
  </div>
  <div class="y">
    <p>{{dept_no}}</p>
  </div>
  <div class="c">
      <h1>Currency</h1>
      <select class="g" [(ngModel)]="currencySymbol">
        <option *ngFor="let currency of data.currency" [ngValue]="currency.key.symbol_native">{{ currency.value }}</option>
      </select>
      <p>{{ currencySymbol }}</p>
  </div>
  <div class="u">
    <p>shipping</p>
    <select  [(ngModel)]="shippingFormat">
      <option *ngFor="let shipping of data.shippingFormat" [ngValue]="shipping.value">{{shipping.key}}</option>
    </select>
  </div>

  <div class="z">
    <p>{{ shippingFormat }}</p>
  </div>

  <div class="i">
    <h1>
      <p [hidden]="shippingFormat=='off'">Hello hidden!</p>
    </h1>
  </div>

  <div class="hg">
    <h3>checkbox</h3>
    <label>
     <input type="checkbox" name="isActive" [(ngModel)]="data.uCurrency">
     Unambiguous currency</label>
  </div>
  <p>{{data.uCurrency}}</p>

  <div class="g">
    <p>taxFormat</p>
    <select  [(ngModel)]="taxFormat">
      <option *ngFor="let tax of data.taxFormat" [ngValue]="tax.value">{{ tax.key }}</option>
    </select>
  </div>
  <p>{{ taxFormat }}</p>
  <div>
    <button type="button" (click)="removeLocal()">
      Clear Local
    </button>
  </div>
</div>
